@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #292b2c;
    font-family: "Open Sans", sans-serif;
    color: white;

    background-image: url("/image/Celestial.jpg");
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar {
    /* position: fixed; */
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder ;
    font-size: 20px;
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 10vh;
}

.hidden {
    padding-top: 10vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04aa6d;
}

/* ============== Cards =================*/

.container {
    width: 80%;
    margin: auto;
}

.card {
    
    background-color: black;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    width: 60vw;
    margin: auto;
    margin-bottom: 2rem;
}

.user-profile-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.user-profile-wrap p {
    font-size: 0.9rem;
    color: white;
}

.user-profile-wrap p a {
    font-size: 0.9rem;
    color: white;
}

.profile {
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.post-info {
    width: 100%;

}
.post-controls {
    width: 20%;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-post {
    margin-bottom: 0.7rem;
    text-align: justify;
}

.comment-button {
    margin-left: 1rem;
    padding: 0.2rem 0.8rem;
    transition: 0.3s;
    color: white;
}

.comment-button:hover {
    background-color: rgb(214, 212, 212);
    border-radius: 0.3rem;
    color: black;
}

#upvote-icon {
    font-size: 1.2rem;
    margin-right: 0.3rem;
    cursor: pointer;
    color: white;
}

.downvote-icon {
    font-size: 1.2rem;
    margin-right: 0.3rem;
    cursor: pointer;
}

.upvote-wrap,
.downvote-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upvoted {
    color: red;
}

.downvoted {
    color: blue;
} 

.upvote-Btn{
    border: none;
    outline: none;
    background-color: transparent;  
}

.upvote-wrap{
    margin-right: 10px;
}

#upvote-count{
    margin-right: 0;
}


.userComments{
    width: 62vw;
    background-color: white;
    padding: 10PX;
    border-radius: 5px;
    margin-left: 120px;
}

.hr-full-line{
    opacity: .2;
}

.comment-user-name-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
   
}
.comment-user-name-wrapper p{
    margin-left: 5px;
    opacity: .7;
}

.comment-user-name-wrapper img{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid black;

}


/* --------------------------About us page css---------------------- */
.aboutUs .heading {
    font-size: 2rem;
    letter-spacing: .1rem;
    color: rgb(218, 86, 86);
    margin-bottom: 1rem;
}

.aboutUs hr {
    color: gray;
    margin-bottom: 1rem;
}

.aboutUs .about-content{
    text-align: justify;
}

.posted_image{
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}



.posts .add_post{
    color: white;
    padding: 10px 10px;
    transition: 200ms;

}

.posts .add_post:hover{
    background-color: rgb(36, 54, 54);
    text-decoration: underline;
}

.post{
    /* font-family: ; */
    width: 60%;
    margin: auto;

}

.post .input_field{
    width: 100%;
    margin-bottom:.5rem ;
    padding: 7px;
    background-color: black;
    color: white;
}

.post label{
    display: block;
    text-align: center;

}

.choose_file{
    width: 100%;
    text-align: center;
    margin-top: .3rem;
}
 
.choose_file .post_button{
    margin-top: .5rem;
    background-color: rgba(71, 53, 53,0) ;
    border: none;
    color: white;
    padding: 10px 10px;
    transition: 200ms;
}

.choose_file .post_button:hover{
    background-color: rgb(36, 54, 54);
    text-decoration: underline;
}

.Log-in-for-comment{
    color: white;
    max-width: 150px;
}

.Log-in-for-comment:hover{
    color: yellow;
    text-decoration: underline;
}

.textbox{
    display: flex;
    align-items: bottom;
    
}

.click_to_submit{
    background-color: green;
    color: white;
    margin-left:1rem ;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.click_to_submit:hover{
    background-color:rgba(0, 128, 0, 0.692) ;
}

.comment_box{
    max-height: 50px;
    background-color: rgba(128, 128, 128, 0.308);
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    letter-spacing: .1rem;
}

.textbox  {
    margin-top: 1rem;
}

.clickbtn{
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #2a2c2b;
    align-items: center;
    padding: 2px 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.clickbtn img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.clickbtn input {
    width: 100%;
    margin-top: 10px;
}

.click_here{
    width: 200px;
    padding: 10px 0px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
}
